doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Linking fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&family=Sono:wght@300;400;500&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap', rel='stylesheet')
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js") 
    // Linking CSS and JS files
    link(rel='stylesheet', href='/files/addEvent.css')
    script(defer='', src='/files/addEvent.js')
    title Add Event
  body
    .addEventPage
      .div--section-title
        p.section-title Add New Event
      .div--add-event
        form.add-event(name='addEventForm')
          .div--event.div--event-www
            .div--section-sub-title
              p.section-sub-title Basic Details
            label Event Name
            input(blabla='', type='text', name='eventName', value='Brainwaves')
            |  
            br
            label Event Date
            input(blabla='', type='date', name='eventDate', value='2024-11-01')
            |  
            br
            label Event Venue
            input(blabla='', type='text', name='eventVenue', value='Anand Hall')
            label Guest Invited
            input(blabla='', type='text', name='eventGuest', placeholder='Mr. Raj M, Mrs. Shakshi C', value='A.S. Nagrik')
            label Event Type
            select(blabla='', name='eventType', value='Competition')
              option(value='') Select
              option(value='Sports') Sports
              option(value='Felicitation') Felicitation
              option(value='Competition') Competition
              option(value='Expert Lecture') Expert Lecture
            br
            label Event Poster
            input(blabla='', type='file', name='eventPoster')
          .div--event.div--event-description
            .div--section-sub-title
              p.section-sub-title Description
            label Write the description of the event
            textarea.eventDesc(blabla='', name='eventDesc', id='', cols='20', rows='10', aria-valuemax='This is one the most populat MIT P event which is a state level fest')
            label Select an image
            input(name='eventDescImg', type='file')
          .div--event.div--event-agenda
            .div--section-sub-title
              p.section-sub-title Agenda (Optional)
            label Enter the agenda of this event?
            .div--add-agenda
              input(name='eventAgenda1', type='text', value='Agenda 1')
            button.addAgenda(type='button') +
            label Select an image
            input(name='eventAgendaImg', type='file')
          .div--event.div--event-report
            .div--section-sub-title
              p.section-sub-title Report (Optional)
            label Enter Details of the report
            table.event-table
              tbody
                tr.div--column-title
                  th.column-title.date Date
                  th.column-title.activity Activity
                tr
                  td
                    input(type='date', name='eventReportDate1', value='2024-11-01')
                  td
                    input(type='text', name='eventReportDesc1', value='Detail 1')
            button.addRow(type='button') +
          .div--event.div--event-images
            .div--section-sub-title
              p.section-sub-title Images
            label Upload Event&apos;s images
            input(blabla='', name='eventImages', type='file')
          button.submit(type='submit') Submit